* {
    font-family: Cambria, system-ui;
    font-weight: 550;
    font-size: 16px;
}

h1 {
    font-family: Helvetica, Cambria, system-ui;
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
    margin-right: 120px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#home-index ul {
    display: table;
    margin: 0 auto;
    margin-right: 600px;
    margin-top: 70px;
    padding: 8px;

}

.introduction img {
    display: table;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float: left;
}

.description {
    display: table;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 120px;
}

.description h2 {
    padding-top: 50px;
}

.description p {
    padding-left: 20px;
    width: 600px;
    text-align: justify;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

.container .ingredients {
    display: inline-table;
    float: left;
    margin-left: 70px;
    margin-bottom: 30px;
    padding: 10px;
}

.container .steps {
    display: inline-table;
    float: right;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px;
    width: 600px;
}

.bottom {
    display: table;
    margin-top: 500px;
    margin-left: 550px;
    margin-bottom: 40px;
    text-align: center;
}

.bottom a {
    font-weight: 600;
}